header {
    height: 50px;
    width: 100%;
    border-bottom: 1px solid #CCCCCC;
    display: flex;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.logo {
    width: 70px;
    height: 70px;
    background-image: url('../images/logo.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 40px;
}
